{{#partial "content"}}
    <div class="well">
        <h3>{{team.teamName}}</h3>
        {{#if member}}
            <h3>{{member.memberName}}</h3>
                <p class="text-muted"><a class="btn" href="/team/{{member.teamId}}/member/{{member.id}}/update">Edit this Member</a></p>
                <!--<p class="text-muted"><a class="btn" href="/team/{{member.teamId}}/member/{{member.memberId}}/delete">Delete this Member</a></p>-->

    </div>
    {{/if}}


{{/partial}}

{{> layout.hbs}}