{{#partial "content"}}
    <p>Team {{ team.teamName }}</p>
    <ul id="teamList">
        <li>{{ team.teamDescription }}</li>
        <li>{{ team.teamMembers }}</li>
    </ul>
    <h5>Created At:</h5>
    <p> {{ team.teamCreatedAt }}</p>
    <p>
        <a href="/teams/{{team.teamId}}/update">Edit this Team</a>
        <a href="/teams/{{team.teamId}}/delete">DELETE this Team (no undo)</a>
    </p>
{{/partial}}

{{> layout.hbs}}