<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Blog{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/main.css">

</head>
    <body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/about">About the Hack-A-Thon</a></li>
    <li role="presentation"><a href="/team/{{id}}">{{teamName}}</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Teams <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if team}}
                {{#each team}}
                    <li><a href="/team/{{id}}">{{teamName}}</a></li>
                {{/each}}
                <li><a href="/team/new">Add a new Team</a></li>

            {{else}}
                <li><a href="/team/new">Add a new Team</a></li>
            {{/if}}
        </ul>
    </li>
</ul>
    <div class="page container">
        <div class="page-header">
            <h1>Hack-A-Thon Portland 2017 - Admin Dashboard</h1>
        </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
    </div>
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
    </body>
    </html>
{{/block}}