{{#partial "content"}}
    <p>Team Name {{ team.teamName }}</p>
    <ul id="teamList">
        <li>Team Description: {{ team.teamDescription }}</li>
        <li>Team Member: {{ team.teamMembers }}</li>
        <li>Team Entered: {{ team.teamCreatedAt }}</li>
    </ul>
        <a href="/teams/{{team.teamId}}/update"><button type="button" class="btn btn-default">Edit this Team</button></a>
    </p>
{{/partial}}

{{> layout.hbs}}