{{#partial "content"}}
    {{#if teams}}
        <h1>Current Teams:</h1>
        {{#each teams }}
            <h3>{{ name }}</h3>
            <p>{{ description }}</p>
            <p>Members:</p>
            <ul>
                {{#each members}}
                    <li>{{this }}</li>
                {{/each}}
            </ul>
            <p><a href="teams/{{id}}/update-name">Edit Name</a></p>
            <p><a href="teams/{{id}}/add-member">Add Member</a></p>
            <p>---------------------------</p>
        {{/each}}
    {{else if team}}
        <h2>Team Details for: {{ team.name }}</h2>
        <p>Description: {{ team.description }}</p>
        <p>Members:</p>
        <ul>
            {{#each team.members}}
                <li>{{ this }}</li>
            {{/each}}
        </ul>
        <p><a href="/teams/{{team.id}}/update-name">Edit Name</a></p>
        <p><a href="teams/{{id}}/add-member">Add Member</a></p>
    {{else}}
        <p>No Teams to Show!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}